services:
    backend:
        build:
            context: .
            dockerfile: Dockerfile.backend
        ports:
            - "8080:8080"
        environment:
            - JWT_SECRET
        volumes:
            - ./data:/data
